        
header {
    background-color: #e05a00; 
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ffffff; 
    font-family: Arial, sans-serif;
    font-weight:1000;
    margin: 0;
}

.titulos{
    color: #ffffff; 
    font-family: Arial, sans-serif;
    font-weight:1000;
    margin: 0;
}

.paginas{

    font-family: Arial, Helvetica, sans-serif;
}

.encabezados{
    color: #e05a00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
    margin: 0;

}

.texto{
    color: #ffffff;
    font-family: arial;
    text-align: center;
    background-color: #e05a00;
    margin: 0;
    padding: 15px;
}

.inicio{
    background-color: #e05a00; 
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}